@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row" style="text-align:center;">
                    <h2 style="text-align:center;margin-bottom:30px;">صفحة التقارير</h2>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="../assets/images/CLIENT-03.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">تقارير عن العملاء</h5>
                                <p class="card-text">
                                     تقارير تخص العملاء مثل كم عميل تم ادخاله في اخر شهر او اخر سنة او تقارير معبرة عن حالات العميل
                                </p>
                                <a href="CustomerReports" class="btn btn-primary">حسناً</a>
                            </div>
                        </div>
                    </div>
                     
                    <div class="col-md-4">
                        <div class="card">
                            <img src="../assets/images/SALES-01.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">تقارير عن الموظفين</h5>
                                <p class="card-text">
                                   تقارير تخص وضع الموظفين مع العملاء مثلاً كم عميل لدى كل موظف وماهي حالات هذه العملاء 
                                </p>
                                <a href="EmployeeReports" class="btn btn-primary">حسناً</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card">
                            <img src="../assets/images/Employee-02.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">تقارير عن المبيعات</h5>
                                <p class="card-text">
                                    تقارير تخص المبيعات ومتابعتها على حسب الاشهر والسنين وتقارير تخص الموظفين القائمين على هذه المبيعات
                                </p>
                                <a href="SalesReports" class="btn btn-primary">حسناً</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>