@model InteriorDesignQuestionnaireVM;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<style>
    body{
        text-align:center;
        background: radial-gradient(rgb(210, 241, 223), rgb(237 239 255), rgb(251 253 255)) 0% 0% / 400% 400%;
    }
    .container{
        padding:20px;
    }

    .card{
        margin:30px auto;
        border:none !important;

    }

    .circleTitle{
        width: 2px;
        height: 30px;
        background-color: #4a6ccc;
        border-radius:50%;
        margin-left:5px;
    }
    .sectionTitle{
        display:flex;
        flex-direction:row;
        align-items:center;
    }

    .myContainer{
        margin:30px auto;
    }
    .myRow{
        display:block;
        margin:15px 0px;
    }

    input[type=text]
    {
        padding: 4px 11px;
        border: 1px solid;
        border-color: #e5e5e5;
        border-radius: 4px;
        transition:0.3s;
        width:215px;
        margin-right:7px;
    }

    input[type=text]:focus{
       border-color: #4a6ccc;
    }

    .myRowCheckBox{
        margin:30px 0px;
    }
    .dviCheckBoxTitle{
        padding:10px;
        border:none;
        border-bottom: 1px solid #4a6ccc;
        width:fit-content;
        text-align:center;
    }

    #plusDiv:hover{
        cursor:pointer
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/assets/css/styles.min.css" />
<link rel="stylesheet" href="~/css/myDashboard.css" />

<div class="container" dir="rtl">
    <div class="row">
        <div class="col-md-12" style="display:flex;justify-content:center">
            <img src="~/images/المنظور الشامل لوجو.png" style="width:500px"/>
        </div>
        @if(ViewBag.message !=null)
        {
            <h4 id="message" style="text-align:center;color:darkgreen">@ViewBag.message</h4>
        }
        <div class="col-md-12">
            <h2 style="text-align:center;font-weight:bold;margin-top:40px;color:#4a6ccc">استبيان تصميم داخلي</h2>
        </div>
        <form method="post">
            <div class="col-md-12">
                <div class="card mb-0">
                    <div class="card-body">

                        <div class="sectionTitle">
                            <div class="circleTitle"></div>
                            <h3 class="card-title">معلومات عامة</h3>
                        </div>

                        <div class="myContainer">
                            <div class="myRow">
                                <span>اسم العميل</span>
                                <input asp-for="ClientName" placeholder="اسم العميل">
                            </div>
                            <div class="myRow">
                                <span>رقم الهاتف</span>
                                <input asp-for="PhoneNumber" placeholder="رقم الهاتف">
                            </div>
                            <div class="myRowCheckBox">
                                <div class="dviCheckBoxTitle">نوع المشروع</div>
                                <div style="display:flex;gap:15px">
                                    @if(Model.ClientName !=null)
                                    {
                                        <span style="margin-top:10px;font-weight:bold">@Model.ProjectType</span>
                                    }
                                    else
                                    {
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="villa" id="vila">
                                            <label class="form-check-label" for="vila">
                                                فيلا سكنية
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="ResidentialBuilding" id="hb">
                                            <label class="form-check-label" for="hb">
                                                عمارة سكنية
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="CommercialBuilding" id="bc">
                                            <label class="form-check-label" for="bc">
                                                مبنى تجاري
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="institutionOffice" id="ob">
                                            <label class="form-check-label" for="ob">
                                                مكتب اداري
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="institutionBuilding" id="mb">
                                            <label class="form-check-label" for="mb">
                                                مبنى اداري
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="shop" id="m">
                                            <label class="form-check-label" for="m">
                                                محل
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="apartment" id="h">
                                            <label class="form-check-label" for="h">
                                                شقة
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="projectTypeOther" id="projectTypeOther" onchange="projectTypeOtherChange()">
                                            <label class="form-check-label" for="projectTypeOther">
                                                اخرى
                                            </label>
                                        </div>
                                        <div id="ProjectTypeOtherDiv" style="display:none">
                                            <input type="text" id="ProjectTypeOtherText" name="projectTypeOtherInput" placeholder=" نوع المشروع">

                                        </div>
                                    }


                                </div>
                            </div>
                            <div class="myRowCheckBox">
                                <div class="dviCheckBoxTitle">طراز المشروع</div>
                                <div style="display:flex;gap:15px">
                                    @if(Model.ClientName != null)
                                    {
                                        <span style="margin-top:10px;font-weight:bold">@Model.DesignStyle</span>
                                    }
                                    else
                                    {
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="modern" id="modern">
                                            <label class="form-check-label" for="modern">
                                                مودرن
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="classic" id="classic">
                                            <label class="form-check-label" for="classic">
                                                كلاسيك
                                            </label>
                                        </div>
                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" name="newClassic" id="newClassic">
                                            <label class="form-check-label" for="newClassic">
                                                نيو كلاسيك
                                            </label>
                                        </div>


                                        <div class="form-check" style="margin-top:10px;width:fit-content">
                                            <input class="form-check-input" type="checkbox" value="" id="projectTypeOtherDesign" onchange="projectDesignOtherChange()">
                                            <label class="form-check-label" for="projectTypeOtherDesign">
                                                اخرى
                                            </label>
                                        </div>
                                        <div id="ProjectTypeOtherDivDesign" style="display:none">
                                            <input type="text" name="OtherDesignStyle" id="ProjectTypeOtherText" placeholder=" طراز المشروع">

                                        </div>
                                    }


                                </div>
                            </div>
                            <div class="myRow">
                                <span>مساحة المبنى</span>
                                <input asp-for="BuldingArea" placeholder="بالمتر المربع" >
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="sectionTitle">
                            <div class="circleTitle"></div>
                            <h3 class="card-title">معلومات فرعية</h3>

                        </div>
                        <h5 style="font-weight:normal;margin:20px 0px">الفراغات المطلوب تقسيمها</h5>
                        <div class="myContainer">

                            <div class="myRowCheckBox">
                                <div class="dviCheckBoxTitle"> الدور الارضي</div>
                                <div style="display:flex;gap:15px">
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="GroundFloorQuestionnaire.MenCouncil" id="menC">
                                        <label class="form-check-label" for="menC">
                                            مجلس رجال
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="GroundFloorQuestionnaire.WomenCouncil" id="womenC">
                                        <label class="form-check-label" for="womenC">
                                            مجلس نساء
                                        </label>
                                    </div>


                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="GroundFloorQuestionnaire.GroundFloorHall" id="groundHall">
                                        <label class="form-check-label" for="groundHall">
                                            صالة الدور الارضي
                                        </label>
                                    </div>

                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="GroundFloorQuestionnaire.WCMenCouncil" id="wcMen">
                                        <label class="form-check-label" for="wcMen">
                                            حمام مجلس الرجال
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="GroundFloorQuestionnaire.WCWomenCouncil" id="wcWomen">
                                        <label class="form-check-label" for="wcWomen">
                                            حمام مجلس النساء
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="GroundFloorQuestionnaire.Kitchen" id="kitchen">
                                        <label class="form-check-label" for="kitchen">
                                            المطبخ
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="GroundFloorQuestionnaire.ExternalAttachment" id="external">
                                        <label class="form-check-label" for="external">
                                            الملحق الخارجي
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" type="checkbox" id="groundFloorInput" onchange="groundFloorInputChange()">
                                        <label class="form-check-label" for="groundFloorInput">
                                            اخرى
                                        </label>
                                    </div>
                                    <div id="groundFloorDiv" style="display:none">
                                        <input asp-for="GroundFloorQuestionnaire.Other" id="groundFloorDivOther" placeholder="شيئ اخر">
                                    </div>
                                </div>

                            </div>

                            <div class="myRowCheckBox">
                                <div class="dviCheckBoxTitle"> الدور الاول</div>
                                <div style="display:flex;gap:15px">
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="FirstFloorQuestionnaire.MasterBedroom" id="mainSleep">
                                        <label class="form-check-label" for="mainSleep">
                                            غرفة النوم الرئيسية
                                        </label>
                                    </div>

                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="FirstFloorQuestionnaire.FirstFloorHall" id="hallFirstFloor">
                                        <label class="form-check-label" for="hallFirstFloor">
                                            صالة الدور الاول
                                        </label>
                                    </div>

                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="FirstFloorQuestionnaire.Room1" id="onec">
                                        <label class="form-check-label" for="onec">
                                            غرفة 1
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" type="checkbox" value="" id="firstFloorInput" onchange="firstFloorInputChange()">
                                        <label class="form-check-label" for="firstFloorInput">
                                            اخرى
                                        </label>
                                    </div>
                                    <div id="firstFloorDiv" style="display:none">
                                        <input asp-for="FirstFloorQuestionnaire.Other" id="firstFloorDivOther" placeholder="شيئ اخر">
                                    </div>
                                </div>

                            </div>

                            <div class="myRowCheckBox">
                                <div class="dviCheckBoxTitle">دور  السطح</div>
                                <div style="display:flex;gap:15px">
                                <textarea asp-for="SurfaceFloor" style="margin:10px 0px;width:500px;height:100px;">

                                </textarea>
                                </div>
                            </div>
                            <div class="myRowCheckBox">
                                <div class="dviCheckBoxTitle">البدروم</div>
                                <div style="display:flex;gap:15px">
                                <textarea asp-for="Basment" style="margin:10px 0px;width:500px;height:100px;">

                                </textarea>
                                </div>
                            </div>
                            <div class="myRowCheckBox">
                                <div class="dviCheckBoxTitle">الواجهات</div>
                                <div style="display:flex;gap:15px">
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="Interfaces.FrontInterfaces" id="frontInterface">
                                        <label class="form-check-label" for="frontInterface">
                                            الواجهات الامامية
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="Interfaces.SideInterfaces" id="sideInterface">
                                        <label class="form-check-label" for="sideInterface">
                                            الواجهات الجانبية
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="Interfaces.SideInterfaces2" id="sideInterface2">
                                        <label class="form-check-label" for="sideInterface2">
                                            الواجهات الجانبية 2
                                        </label>
                                    </div>
                                    <div class="form-check" style="margin-top:10px;width:fit-content">
                                        <input class="form-check-input" asp-for="Interfaces.BackInterfaces" id="backInterface">
                                        <label class="form-check-label" for="backInterface">
                                            الواجهات الخلفية
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <button style="width:300px;margin:30px auto" class="btn btn-primary" type="submit">تقديم</button>
        </form>
       
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    function projectTypeOtherChange() {
       
        if (document.getElementById("projectTypeOther").checked == true) {
            $("#ProjectTypeOtherDiv").fadeIn(1000);
        }
        else {
            $("#ProjectTypeOtherDiv").fadeOut(1000);
        }
       
    }  
    function projectDesignOtherChange() {
       
        if (document.getElementById("projectTypeOtherDesign").checked == true) {
            $("#ProjectTypeOtherDivDesign").fadeIn(1000);
        }
        else {
            $("#ProjectTypeOtherDivDesign").fadeOut(1000);
        }
       
    }

    function groundFloorInputChange() {
       
        if (document.getElementById("groundFloorInput").checked == true) {
            $("#groundFloorDiv").fadeIn(1000);
        }
        else {
            $("#groundFloorDiv").fadeOut(1000);
        }
       
    }

    function firstFloorInputChange() {

        if (document.getElementById("firstFloorInput").checked == true) {
            $("#firstFloorDiv").fadeIn(1000);
        }
        else {
            $("#firstFloorDiv").fadeOut(1000);
        }

    }

    if ($("#message").css("display") == "block") {
        $("#message").fadeOut(3000);
    }
    

</script>